<a href="https://colab.research.google.com/github/anerd2/DataEngActivities/blob/main/DataIntegration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import sys, os
import matplotlib.pyplot as plt
from tqdm.auto import tqdm # For progress bar

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# downloads the .csv file from google drive only if it's not already in directory
file_path = "/content/acs2017_census_tract_data.csv"
if os.path.isfile(file_path) == False:
  !gdown 1WNG2yHw8GgYG8v0lznK2acjvKbbj3bnq

df = pd.read_csv(file_path, low_memory=False, usecols = ['County', 'State', 'TotalPop', 'IncomePerCap', 'Poverty'])
df.head(10)

     State          County  TotalPop  IncomePerCap  Poverty
0  Alabama  Autauga County      1845       33018.0     10.7
1  Alabama  Autauga County      2172       18996.0     22.4
2  Alabama  Autauga County      3385       21236.0     14.7
3  Alabama  Autauga County      4267       28068.0      2.3
4  Alabama  Autauga County      9965       36905.0     12.2
5  Alabama  Autauga County      3620       27038.0     13.6
6  Alabama  Autauga County      3420       19028.0     27.0
7  Alabama  Autauga County      2913       36631.0     12.0
8  Alabama  Autauga County     11333       26621.0     14.7
9  Alabama  Autauga County      6167       26726.0      9.4

In [26]:
file_path = "/content/COVID_county_data.csv"
if os.path.isfile(file_path) == False:
  !gdown 1MY6Q3N5FVlXBPNratQCUNAPjmK-kebco

df2 = pd.read_csv(file_path, low_memory=False)
df2.head(10)

         date       county       state     fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061.0      1     0.0
1  2020-01-22    Snohomish  Washington  53061.0      1     0.0
2  2020-01-23    Snohomish  Washington  53061.0      1     0.0
3  2020-01-24         Cook    Illinois  17031.0      1     0.0
4  2020-01-24    Snohomish  Washington  53061.0      1     0.0
5  2020-01-25       Orange  California   6059.0      1     0.0
6  2020-01-25         Cook    Illinois  17031.0      1     0.0
7  2020-01-25    Snohomish  Washington  53061.0      1     0.0
8  2020-01-26     Maricopa     Arizona   4013.0      1     0.0
9  2020-01-26  Los Angeles  California   6037.0      1     0.0

In [48]:
ag = {'State': 'first', 'TotalPop': 'sum', 'IncomePerCap': 'sum', 'Poverty': 'sum'}
df = df.groupby(df['County']).aggregate(ag)
df.head(10)

                              State  TotalPop  IncomePerCap  Poverty
County
Abbeville County     South Carolina     24788      116417.0    133.1
Acadia Parish             Louisiana     62607      257451.0    263.2
Accomack County            Virginia     32840      198158.0    160.9
Ada County                    Idaho    435117     1927687.0    743.9
Adair County                   Iowa     74069      433651.0    570.0
Adams County               Colorado    831788     4875901.0   2702.8
Addison County              Vermont     36825      311032.0     81.2
Adjuntas Municipio      Puerto Rico     18525       42521.0    391.5
Aguada Municipio        Puerto Rico     39470       80502.0    467.3
Aguadilla Municipio     Puerto Rico     55722      168867.0    871.9

In [50]:
df.query("County == 'Loudoun County'")

                   State  TotalPop  IncomePerCap  Poverty
County
Loudoun County  Virginia    374558     3225025.0    248.6